---
import aboutimg from "../images/10.jpg"
---
<section id="about-me" class="flex w-full items-center justify-center py-10">
    <div 
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" 
        class="flex flex-col items-center lg:w-3/5 px-10 py-20 md:p-10 space-y-10 bg-gray-200 rounded-tl-[300px] rounded-br-[300px] bg-opacity-70 max-w-[920px]">
        <h1 class="text-3xl text-black-500 font-semibold pt-4">Kdo jsme?</h1>
        <div class="lg:px-[10%] justify-center lg:space-x-8">
            <img src={aboutimg.src} alt="conoce a lis" class="float-right md:h-64 md:w-60 rounded-full border-4 border-gray-500 shadow-xl shadow-gray-400 lg:mx-5 mb-5">
            <p class="text-gray-600 font-medium text-xl lg:px-5 text-justify">Ahoj! Jsem Igor, vášnivý a odborný kadeřník s více než 20 lety zkušeností, poskytující vysoce kvalitní kadeřnické služby ze svého hairstyling studia v pulzujícím srdci Prahy. Každý den snažím se zdokonalovat a aktualizovat své dovednosti. Pevně ​​věřím, že dobrý účes přesahuje estetiku; je to forma péče o sebe, která posiluje sebevědomí a pohodu. V mém studiu je každé sezení příležitostí poskytnout chvíli relaxace a luxusu a zajistit, aby se každý klient cítil výjimečně a vážený. Používám vysoce kvalitní produkty, které jsou šetrné k pokožce a životnímu prostředí, a zaručují působivé výsledky, které mluví samy za sebe. Pokud hledáte zkušenosti, kreativitu a pečlivý smysl pro detail, budu rád za příležitost zkrášlit vaše vlasy a cítit se ještě krásnější. Doufám, že vás brzy přivítám ve svém prostoru a společně vytvoříme něco krásného!</p>
            </div>
            <div class="flex flex-col items-center">
                <p class="px-5 text-2xl font-semibold text-gray-600">Igor</p>                
                <span class="px-5 text-gray-500 text-sm mb-8">Proffesional hairdresser, Prague, CZ.</span>                
            </div>
    </div>
</section>