---
import smartphone from "../images/icons/smartphone.svg"
import location from "../images/icons/location.svg"
import email from "../images/icons/email.svg"
import bg_contact from "../images/WhatsApp Image 2024-07-14 at 12.10.53_6c51e3e4.jpg"
---

<section id="contact" class="relative w-full flex flex-col items-center justify-center py-10 bg-gray-100">
    <img src={bg_contact.src} alt="" class="absolute h-full w-full object-cover opacity-10 z-0">
    <div class="relative w-full md:w-3/5 flex flex-col items-center justify-center ">
        <h1 
            data-aos="fade-down"
            data-aos-anchor-placement="center-bottom" 
            class="text-3xl text-gray-500 font-semibold">Adresa</h1>
        <div class="flex flex-col md:flex-row-reverse py-10 justify-between gap-4 w-full"> 
            <iframe
                data-aos="fade-left"
                data-aos-anchor-placement="center-bottom"  
                class="rounded-xl shadow-lg shadow-gray-500 w-screen md:w-full px-2" 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.039607741689!2d14.427437300000001!3d50.0855453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94eb606271e1%3A0x934062c40dd8b4c3!2zTmVrw6F6YW5rYSA4NTgvNSwgMTEwIDAwIE5vdsOpIE3Em3N0bywgQ3plY2hpYQ!5e0!3m2!1sen!2smk!4v1720789605951!5m2!1sen!2smk" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <div 
                data-aos="fade-right"
                data-aos-anchor-placement="center-bottom" 
                class="flex flex-col justify-center space-y-3 text-gray-500 font-semibold p-10">
                <h1 class="text-2xl text-gray-500 py-2 ">Contact Info</h1>
                <a href="mailto: oliverhairspace@outlook.com" class="flex items-center">
                    <img src={email.src} alt="phone icon" class="h-8 pr-2"/>
                    oliverhairspace@outlook.com
                </a>
                <a href="tel: +420776243789" class="flex items-center">
                    <img src={smartphone.src} alt="phone icon" class="h-8 pr-2"/>
                    +420776243789
                </a>
                <div class="flex items-center">                    
                    <img src={location.src} alt="phone icon" class="h-8 pr-2"/>
                    <p>Nekázanka 858/5,<br class="block md:hidden"> Praha 1 </p>
                </div>
                <h1 class="text-2xl text-gray-500  py-4">Otevírací doba</h1>
                <p class="t">Pon - Sob: 10:00 - 20:00 </p>
                <a href="https://www.fresha.com/book-now/hairspace-prg-nud8de8u/services?lid=1354994&pId=1286714" target= "_blank" class="self-center">
                    <button 
                    class="text-2xl border-2 font-bold hover:bg-gray-500 py-4 px-8  rounded-2xl hover:scale-105 
                    hover:text-white border-black-500 text-gray-500 transition"
                    >Rezervovat</button>
                </a>
            </div>      
        </div>        
    </div>
</section>
