---

---

<footer class="relative  flex w-full flex-col place-items-center pb-20 pt-14  md:justify-center md:pt-16">
    <hr class="absolute top-0 h-[2px] w-full min-w-[18rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent bg-center md:my-9">
    <div class="flex flex-col gap-4 text-center md:flex-row lg:gap-6">
        <span class="text-xl text-black-500 text-center font-semibold">
            Copyright © 2024 Hairspace 
            <span aria-hidden="true" class="hidden md:inline">|</span>
            <br aria-hidden="true" class="block md:hidden">
            Všechna práva vyhrazena.
        </span>
    </div>

</footer>