---
import { getLocalPlaceReviews } from 'google-reviews-scraping';

const reviewsData = await getLocalPlaceReviews({
  placeUrl: '',
  options: {
    navigationTimeout: 7000, // Optional
    lastCursor: '[CURSOR]', // Optional
  },
});

console.log(reviewsData);
---

<section class="w-full py-10">
    <div class="flex flex-col items-center justify-center space-y-5">
        <h1 class="text-gray-500 text-center text-3xl font-semibold">Co říkají klienti?</h1>
        <div data-wally-widget="662fd7dd4fde9a0015c0ae53" style="width: 100%; height: 100%;"></div>
        <script is:inline src="https://embed.getwally.net/embed.js"></script>
    </div>
</section>
